<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373449492257-d5h9pi0ki4n0vfb3e13tnp1j5mrdaelc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373449492257-d5h9pi0ki4n0vfb3e13tnp1j5mrdaelc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>373449492257-8bl425bq37vvrnpe3h6t0s0gujp4l5n6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJsBTY5MxKhyrjJkD6t2eAwCvHgMdPiDA</string>
	<key>GCM_SENDER_ID</key>
	<string>373449492257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingwithflutter.timeTrackerFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-b9a03</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-b9a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373449492257:ios:7ef27492a39ce70c</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-flutter-cou-b9a03.firebaseio.com</string>
</dict>
</plist>